@charset "UTF-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h1mm,h1sub,h2,h3,h4,h5,h6,p1,p1mm,p2,p3,c1,c2{ margin:0;padding:0;}
@import url(http://fonts.googleapis.com/css?family=Lato);


html,body { margin:0;padding:0; font-family:Helvetica, Arial, sans-serif; background-image:url(../images/textures/white_wall.png); background-repeat:repeat;}
hr{ color:#FC6; opacity:.1;}

@media screen and (max-width: 960px) 
{body{margin:10px;}}


/* M M SOCIALS style set */

#socialnavigationbar{position:fixed; width:100%; height:60px; z-index:1; background-image:url(../images/textures/white_wall.png); background-repeat:repeat; margin-bottom:5px; padding-right:0px;}

.be120, .be, .fb, .tw, .in, .blog{margin: 10px 10px 0px 0px;  float:right;}

.be120 a {outline: none; text-indent: -5000px ; display:block; width:150px; height:36px; background:url(../images/120x36be.png) 0 0 no-repeat;}
.be120 a:hover {background-position: 0 -36px;}
.be120 a:active {background-position: 0 -72px;}

.be a {outline: none; text-indent: -5000px ; display:block; width:36px; height:36px; background:url(../images/36x36be.png) 0 0 no-repeat;}
.be a:hover {background-position: 0 -36px;}
.be a:active {background-position: 0 -72px;}
 
.fb a {outline: none; text-indent: -5000px ; display:block; width:36px; height:36px; background:url(../images/36x36fb.png) 0 0 no-repeat;}
.fb a:hover {background-position: 0 -36px;}
.fb a:active {background-position: 0 -72px;}
 
.tw a {outline: none; text-indent: -5000px ; display:block; width:36px; height:36px; background:url(../images/36x36tw.png) 0 0 no-repeat;}
.tw a:hover {background-position: 0 -36px;}
.tw a:active {background-position: 0 -72px;}
 
.in a {outline: none; text-indent: -5000px ; display:block; width:36px; height:36px; background:url(../images/36x36in.png) 0 0 no-repeat;}
.in a:hover {background-position: 0 -36px;}
.in a:active {background-position: 0 -72px;}
 
.blog a {outline: none; text-indent: -5000px ; display:block; width:36px; height:36px; background:url(../images/36x36blog.png) 0 0 no-repeat;}
.blog a:hover {background-position: 0 -36px;}
.blog a:active {background-position: 0 -72px;}

/* top navigation.................................................. */

.topnavigationbar{ width:960px; height:70px; padding-top:60px; background-repeat:no-repeat;}
#topnavigationbarleft{ width:230px; height:60px; float:left; background-repeat:no-repeat; background-image:url(../images/images/Jaiki_Rect960x50_logo.png);}
#logo { display: block; width: 200px; height: 50px; float:inherit; background-image:url(../images/Jaiki_logo200x50.png);}
#topnavigationbarright{ width:730px; height:60px; float:right; background-repeat:no-repeat; background-image:url(../images/images/Jaiki_Rect960x50_mm1.png);}

/* mm1 horizontal style set */

#mm1 {width: 700px; margin-left:0px;}
#mm1 ul {list-style: none; margin: 0; padding: 0; line-height: 1; display: block; zoom:1;}
#mm1 ul:after {  content: ' '; display: block; font-size: 0; height: 0; clear: both; visibility: hidden;}
#mm1 ul li { float: left; display: block; padding: 0;}
#mm1 ul li a {font-size: 12px; color:rgba(255,255,255,0.2); text-decoration: none; display: block; padding: 19px 20px; font-weight: 500; text-transform:none; position: relative;-webkit-transition: color .25s;-moz-transition: color .25s;-ms-transition: color .25s;-o-transition: color .25s; transition: color .25s;}
#mm1 ul li a:hover { color:rgba(255,255,255,0.7);}
#mm1 ul li a:hover:before { width: 100%;}
#mm1 ul li a:after { content: ''; display: block; position: absolute; right: 0px; top: 0px; height: 48px; width: 1px; background: #069; opacity: .1;}
#mm1 ul li a:before { content: ''; display: block; position: absolute; left: 0;  bottom: 0; height: 50px; text-shadow:#003855; opacity: .1;
  background:#069;-webkit-transition: width .25s;-moz-transition: width .25s;-ms-transition: width .25s;-o-transition: width .25s; transition: width .25s;
}
#mm1 ul li.last > a:after, #cssmenu ul li:last-child > a:after { display: none;}
#mm1 ul li.active a { color:rgba(255,255,255,1); background: #069; background-image:url(../images/images/Jaiki_blue_dark.png); background-repeat:repeat;}
#mm1 ul li.active a:before { width: 100%;}
@media screen and (max-width: 768px) 
{ #cssmenu ul li { float: none;}
  #cssmenu ul li a { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
  #cssmenu ul li a:after { display: none;}
  #cssmenu ul li a:before { height: 1px; background: #ffffff; width: 100%; opacity: .2;}
  #cssmenu ul li.last > a:before, #cssmenu ul li:last-child > a:before { display: none;}}
  
  
/* content.................................................. */
.clearcolumn { clear: both;}
.projecttitlebar{ width:960px; height:50px; overflow:hidden; background-image:url(../images/headspace.png); padding-left:0px; padding-right:0px;}
#box960{max-width:960px;}
#contentbar{ width:100%; max-width:960px;min-height:400px; margin-top:0px;}
#contentbar leftbox{ width:200px; margin-left:10px; float:left;}
#contentbar rightbox{ width:100%; max-width:700px;margin-right:10px; float:right; text-align:left;}
.imagebox{width:100%; height:100%; overflow:hidden; float:left; background-repeat:no-repeat; border:#e6e6e6 1px solid; border-radius: 0px 0px 0px 0px;}
.imagebox2{width:100%; height:100%; overflow:hidden; float:left; background-repeat:no-repeat; border-radius: 0px 0px 0px 0px;}
.textbox500{width:480px; padding:10px; float:left; margin-top:10px;}
.captionbox500{ width:480px; padding:10px; margin-bottom:10px; float:left;}
.textbox200{max-width:150px;padding:10px 20px; float:right; margin-top:10px; background-color:#E7E7E7; background-image:url(../images/textures/lightpaperfibers.png); border:#e6e6e6 1px solid; border-radius: 5px 5px 5px 5px;}
.projectcaptionbar{width:100%; height:auto; margin-top:20px; float:left; border:#e6e6e6 1px solid; border-radius: 5px 5px 5px 5px; background-color:#e6e6e6; background-repeat:repeat;}
.caption1 {width:auto; height:auto; float:left; margin:10px 20px; color:#666; opacity:.7; text-align:center; font-weight:100; font-size:14px;}
.homecaptionbar{width:960px; height:50px; background-image:url(../images/footspace.png); background-repeat:no-repeat;}



/* paragraph style set */
h1 {font-weight:500; color: #333; font-size: 18px; line-height:24px; line-height:1.4;}
h1mm { font-size: 18px; opacity:.5;font-weight:100; line-height:2; color:rgba(0,0,0,1);}
h1sub {font-weight:200; color: #666; font-size: 11px; line-height:1.4}

h2 {font-weight:300; color: #666; font-size: 18px; line-height:1.4;}
h3 {font-weight:300; color: #666; font-size: 16px; line-height:1.4;}
h4 {font-weight:100; color: #999; font-size: 14px; line-height:1.4;}
h5 {font-weight:100; color: #666; font-size: 14px; line-height:1.4;}
h6 {font-weight:500; color: #666; font-size: 11px; line-height:1.4;}

p1 {font-weight:100; color: #999; font-size: 11px; line-height:1.4;}
p1mm {font-weight:100; font-size: 11px; color:#ccc; opacity:.8; line-height:1.4;}
p2 {font-weight:100; color:#666; font-size: 11px; line-height:1.4;}
p3 {font-weight:100; color:#999; font-size: 11px; line-height:1.4;}

c1 {font-weight:100; font-style:italic; color:#ccc; font-size: 10px;}




/* mm2 vertical left style set */
#mm2 { margin-bottom:10px; width:220px; height:auto; font-size: 12px; text-align: left; background-image:url(../images/textures/lightpaperfibers.png); background-repeat:repeat; border:#e6e6e6 1px solid; border-radius: 5px 5px 5px 5px;}
#mm2title {width:auto; height:auto; padding:0px 20px; background-color:#CCC; border-radius: 5px 5px 0px 0px; opacity: .3;}
#mm2body {width:auto; height:auto; padding:0px 20px; text-align: left;}

#mm2 ul { list-style:none; color:#999; padding:0px 10px 10px 10px; line-height: 1; display: block; zoom: 1;}
#mm2 ul li { color:#C33;}
#mm2 ul li a { width:180px; color:#999; text-decoration: none; display:block; padding: 6px 10px 6px 10px; margin:0px 0px 2px 0px; font-weight: 500; font-size: 12px; position:relative; border-radius: 2px 2px 2px 2px;}
#mm2 ul li a:hover { color:#fff; opacity: .4; text-shadow:#999; text-decoration:none; background-image:url(../images/images/Jaiki_blue_regular.png); background-repeat:repeat;}
#mm2 ul li.active a { color:#fff; opacity: .8; font-weight:500; text-shadow:#999; background-color:#FFF; background-image:url(../images/images/Jaiki_blue_dark.png); background-repeat:repeat}

/* mm2b special link style set */
#mm2b { margin-bottom:10px; width:220px; height:auto; font-size: 12px; text-align: left; background-image:url(../images/textures/subtle_dots.png); background-repeat:repeat; border:#e6e6e6 1px solid; border-radius: 5px 5px 5px 5px;}
#mm2b ul { list-style:none; color:#999; padding:10px; line-height: 1; display: block; zoom: 1;}
#mm2b ul li { color:#C33;}
#mm2b ul li a { opacity: 1; width:auto; color:#fff; text-decoration: none; display:block; padding: 6px 10px 6px 10px; margin:0px 0px 0px 0px; font-weight: 200; font-size: 12px; position:relative; border-radius: 2px 2px 2px 2px; background-image:url(../images/images/Jaiki_beige.png); background-repeat:repeat;}
#mm2b ul li a:hover { color:#fff; opacity: 1; text-shadow:#999; text-decoration:none;background-image:url(../images/images/Jaiki_blue_regular.png); background-repeat:repeat;}
#mm2b ul li.active a { color:#fff; opacity: .8; font-weight:500; text-shadow:#999; background-color:#FFF; background-image:url(../images/images/Jaiki_blue_dark.png); background-repeat:repeat}


/* mm3 horizontalstyle set */
#mm3 { float:right; margin-bottom:10px; width:auto; height:auto; font-size: 12px; text-align: left; }
#mm3 ul { list-style:none; color:#999; padding:10px; line-height: 1; display: block; zoom: 1;}
#mm3 ul li { color:#C33;float: left;  margin-left:10px;}
#mm3 ul li a { opacity: 1; width:auto; color:#fff; text-decoration: none; display:block; padding: 7px 20px; margin:0px 0px 2px 0px; font-weight: 500; font-size: 12px; position:relative; border-radius: 5px 5px 5px 5px; background-image:url(../images/images/Jaiki_beige.png); background-repeat:repeat;}
#mm3 ul li a:hover { color:#fff; opacity: 1; text-shadow:#999; text-decoration:none;background-image:url(../images/images/Jaiki_blue_regular.png); background-repeat:repeat;}
#mm3 ul li.active a { color:#fff; opacity: .8; font-weight:500; text-shadow:#999; background-color:#FFF; background-image:url(../images/mm2_bar.png); background-repeat:no-repeat}





/* FOOT style set */
#footer{ width:100%; max-width:960px; margin-top:20px; height:50px; border-top:#e6e6e6 1px solid;}
#footerbar{ width:100%; max-width:960px;}
#footerbar spaceleft{ width:auto; float:left; padding:20px 0px 20px 0px;}
#footerbar spaceright{ width:auto; min-width:260px; float:right; padding:20px 0px 20px 0px;}

c2 { float:left; color:#CCC; text-align:left;font-size:10px;}

#footmenu { font-size: 10px; text-align: left; line-height:1.6;}
#footmenu text { font-size: 10px; text-align: left; line-height:1.6; float:left; color:#ccc; padding:0px 10px 0px 0px;}
#footmenu ul {list-style:none; margin:0px; padding-right:10px; float:left;}
#footmenu ul li { display:inline; float:left; padding:0px 0px 0px 0px;}
#footmenu ul li a { color:#666; display:block; text-decoration:none;}
#footmenu ul li a:hover { color:#09C; display:block; text-decoration:underline;}


/* additional link style set */

#link{ list-style:none;}
#link li a{ color:#666; text-decoration:none;}
#link li a:hover{ color:#09C; text-decoration:underline;}

