@charset "UTF-8";
/* CSS Document */
	@import url('http://fonts.googleapis.com/css?family=Expletus+Sans:600,700,400,500');
	@import url('http://fonts.googleapis.com/css?family=Signika:700,300,400,600');
	@import url('http://fonts.googleapis.com/css?family=Ek+Mukta:200,300,400,500,600,700,800');

	body,div,dl,dt,dd,ul,ol,li,h1,h1mm,h1sub,h2,h3,h4,h5,h6,p1,p1mm,p2,p3,c1,c2{ margin:0;padding:0;}
	ol,ul {list-style:none;}
	html,body { margin:0;padding:0; font-family: 'Ek Mukta', sans-serif; background-color: #111;}
	hr{ color:#666; opacity:.2; margin:15px 0px 10px 0px; border-style: solid; border-width: 1px; width: 100%}
	@media screen and (max-width: 960px) 
	{
		body{padding:0px 0px 0px 0px;}
	}

/* line devider */
	.devider{clear: both;border-bottom: rgba(200,200,200,0.5) 5px solid; width:auto; height: 50px; margin: 20px 0 40px 0; }
/* wrapper */
	.page-wrapper{background-color: #111;}

	.j-black{width:100%;padding: 60px 0 60px 0; height:auto;position:relative;float:center;overflow: hidden;
			background-color: #111;}
	.j-top{width:100%; padding: 60px 0px 0px 0px; height:auto; position:relative;overflow: hidden;z-index:1000;}
		.j-top img{width:100%; position:relative;float:left; overflow: hidden;}

	.j-top960{width:100%; max-width: 960px; padding: 60px 0px 0px 0px; position:relative;overflow: hidden; text-align: left;}
		.j-top960 img{width:100%; position:relative;float:left; overflow: hidden;}
		.j-top960 span 	{font-family: 'Expletus Sans', Lucida Sans Unicode, sans-serif; letter-spacing: -.02em;  width:100%; height: auto; position:relative; float: left; 
						font-weight:800; color: #ccc; font-size: 36pt; line-height:1.4; text-align: left; padding: 0 10px 0px 0; }
	
	.j-wrapper{width:960px; padding-bottom: 20px; text-align: left;}
		.j-title 		{clear:both;width:240px; position:relative; float: left; margin: 20px 20px 0px 0;padding-bottom:20px; text-align: left; }
		.j-title img 	{width:100%; position:relative; float:left; margin: 10px 0 0px 0;}
		.j-title span 	{width:100%; position:relative; float: left; text-align: left; }	
		.j-post 		{width:700px; position:relative; float: left; margin: 0px 0px 20px 0;text-align: left;}
		.j-post img 	{width:100%; position:relative; float:left; margin: 10px 0 0px 0;}
		.j-post span 	{width:100%; position:relative; float: left; max-width:700px;  margin: 20px 0 10px 0; }
		.j-video		{position: relative;}
		.j-video iframe	{position: absolute; float:left;width: 100%;height: 100%;}

	.videoWrapper {position: relative;padding-bottom: 56.25%; /* 16:9 */padding-top: 25px;height: 0;}
		.videoWrapper iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

	@media screen and (max-width: 960px) 
	{
	  .j-black			{width:95%;  padding: 30px 0px 40px 0px;}
	  .j-top			{width:100% ;}
	  .j-top960			{width:100% ;}
	  .j-top960 span 	{width:95%;font-size: 24px;}

	  .j-wrapper		{width:95%;}
	  .j-post 			{width:100%;}
	  .j-post span 		{width:100%;max-width:700px; position:relative;}
	  .j-title 			{width:100%;}
	  .j-title span 	{width:100%;max-width:400px; position:relative;}
	  
	}


/* M M FIXBAR style set */
	#fixbar{position:fixed; width:100%;height:auto; z-index:9999; background-color: #fff; opacity: .95; }
	#fixbar:hover{opacity: .95;}
	#fixhead{max-width:960px; height:60px;border-bottom: #fafafa 0px solid;}
	#fixhead leftbox{ width:auto; float:left;}
	#fixhead rightbox{width:auto; float:right;display: block; margin: 10px 0px 10px 0px;}
	@media (max-width: 480px) {
      #fixbar{position:relative;}
    }

		.logo{margin: 10px 0px 10px 0px;  float:left;} 
		.logo a {background:url(../images/mm-magictype-logo.png) 0 0 no-repeat;; opacity: 1; width: 140px; height: 72px;outline: none;text-indent: -5000px; display: block; }
		.logo a:hover{background-position: 0 -72px;}
		.logo a.active{background-position: 0 -144px;}
		@media (max-width: 960px) {
	      .logo a {margin-left: 10px;}
	    }

	    .mm-about, .mm-notes, .mm-projects, .mm-contact{margin: 0 0 0 5px;font-size: 9px; color: #666; line-height: 2; font-weight: 100;}

	    .mm-about{float:left;} 
		.mm-about a {background:url(../images/mm-about.png) 0 0 no-repeat; opacity: 1;width: 36px; height: 36px; outline: none;text-indent: -5000px;  display: block; }
		.mm-about a:hover{background-position: 0 -36px;}
		.mm-about a.active{background-position: 0 -72px;}
		@media (max-width: 960px) {
	      .mm-about a {}
	    }
	    .mm-notes{float:left;} 
		.mm-notes a {background:url(../images/mm-notes.png) 0 0 no-repeat; opacity: 1;width: 36px; height: 36px; outline: none;text-indent: -5000px;  display: block;}
		.mm-notes a:hover{background-position: 0 -36px;}
		.mm-notes a.active{background-position: 0 -72px;}
		@media (max-width: 960px) {
	      .mm-notes a {}
	    }
	    .mm-projects{float:left;} 
		.mm-projects a {background:url(../images/mm-projects.png) 0 0 no-repeat; opacity: 1;width: 36px; height: 36px; outline: none;text-indent: -5000px;  display: block;}
		.mm-projects a:hover{background-position: 0 -36px;}
		.mm-projects a.active{background-position: 0 -72px;}
		@media (max-width: 960px) {
	      .mm-projects a {}
	    }
	    .mm-contact{float:left;} 
		.mm-contact a {background:url(../images/mm-contact.png) 0 0 no-repeat; opacity: 1;width: 36px; height: 36px; outline: none;text-indent: -5000px;  display: block;}
		.mm-contact a:hover{background-position: 0 -36px;}
		.mm-contact a.active{background-position: 0 -72px;}
		@media (max-width: 960px) {
	      .mm-contact a {margin-right: 10px;}
	    }

/* content */
	.clearcolumn { clear: both;}

/* paragraph style set */
	h00 	{font-family: 'Expletus Sans', Lucida Sans Unicode, sans-serif;font-weight:800; color: #f1f1f1; font-size: 60pt; line-height:1.1; text-align: left;}
	h0 		{font-family: 'Expletus Sans', Lucida Sans Unicode, sans-serif;font-weight:500; color: #09c; font-size: 18pt; line-height:1.4; text-align: left;}
	h1sub 	{font-weight:500; color: #666; font-size: 14px; line-height:1.4;}
	h1 		{font-family: 'Expletus Sans', Lucida Sans Unicode, sans-serif;font-weight:800; color: #666; font-size: 20pt; line-height:1.2;}
	h2 {font-weight:500; color:#666; font-size: 20pt; line-height:1.4;}
	h3 {font-weight:500; color:#666; font-size: 18pt; line-height:1.4;}

	h4 {font-weight:500; color:#666; font-size: 9pt; line-height:1.4;}
	h5 {font-weight:100; color:#666; font-size: 12pt; line-height:1.4;}
	h6 {font-weight:100; color:#666; font-size: 7pt; line-height:1.4;margin-top: 0.8em;}

	p1 {font-weight:100; color:#666; font-size: 14pt; line-height:1.4;}
	p2 {font-weight:400; color:#666; font-size: 14pt; line-height:1.4;}
	p3 {font-weight:100; color:#666; font-size: 10pt; line-height:1.4;}

	c1 {font-weight:100; color:#666; font-size: 10pt; font-style: italic;}


/* FOOT style set */
	.foot{width:100%; float: left;height:auto; background-color:#fff;position: absolute; z-index:5000;}
	.foot-wrapper{width:100%; max-width:960px;height:auto;z-index:5000;}
	c2 { float:left; color:#CCC; text-align:left;font-size:12px;}

	#footproject{clear: both; float:left; width:100%; margin:20px 0 60px 0; text-align: left; }
	#footmenu2	{clear: both; float:left; width:100%;border-top:rgba(200,200,200,0.1) 1px solid; padding:20px 0 20px 0; text-align: left; }
		#footmenu2 span 	{float:left;color:#666; opacity:.5;text-decoration:none;font-size: 10px; line-height:1.4;padding:.5em 2em 0 .2em;}

		.iit, .jaiki,.be120, .be, .fb, .tw, .in, .blog{margin: 0px 5px 0px 0px;  float:left;}
		
		.iit a 		{outline: none; text-indent: -5000px; display:block; width:150px; height:72px; background:url(../images/iit.png) 0 0 no-repeat;}
		.iit a:hover 	{background-position: 0 -72px;}
		.iit a:active {background-position: 0 -144px;}

		.jaiki a 		{outline: none; text-indent: -5000px; display:block; width:150px; height:72px; background:url(../images/jaiki.png) 0 0 no-repeat;  }
		.jaiki a:hover 	{background-position: 0 -72px;}
		.jaiki a:active {background-position: 0 -144px;}
		
		.be120 a 		{outline: none; text-indent: -5000px; display:block; width:100px; height:36px; background:url(../images/be.png) 0 0 no-repeat;}
		.be120 a:hover 	{background-position: 0 -36px;}
		.be120 a:active {background-position: 0 -72px;}

		.be a 			{outline: none; text-indent: -5000px ; display:block; width:36px; height:36px; background:url(../images/be.png) 0 0 no-repeat;}
		.be a:hover 	{background-position: 0 -36px;}
		.be a:active 	{background-position: 0 -72px;}
		.fb a 			{outline: none; text-indent: -5000px ; display:block; width:36px; height:36px; background:url(../images/fb.png) 0 0 no-repeat;}
		.fb a:hover 	{background-position: 0 -36px;}
		.fb a:active 	{background-position: 0 -72px;}
		.tw a 			{outline: none; text-indent: -5000px ; display:block; width:36px; height:36px; background:url(../images/tw.png) 0 0 no-repeat;}
		.tw a:hover 	{background-position: 0 -36px;}
		.tw a:active 	{background-position: 0 -72px;}
		.in a 			{outline: none; text-indent: -5000px ; display:block; width:36px; height:36px; background:url(../images/in.png) 0 0 no-repeat;}
		.in a:hover 	{background-position: 0 -36px;}
		.in a:active 	{background-position: 0 -72px;}
		.blog a 		{outline: none; text-indent: -5000px ; display:block; width:36px; height:36px; background:url(../images/blog.png) 0 0 no-repeat;}
		.blog a:hover 	{background-position: 0 -36px;}
		.blog a:active 	{background-position: 0 -72px;}
	
	#footmenu {clear: both; float: left; width:100%;border-top:rgba(200,200,200,0.1) 1px solid;  padding:30px 0 50px 0;line-height:1.8;  text-align: left; }
		#footmenu span:before{content:"";}
		#footmenu span 	{float:left;color:#666; opacity:.5;text-decoration:none;font-size: 10px;padding:0 .2em 0 .2em;}
		#footmenu ul 	{width:100%;list-style:none; float:left;}
		#footmenu ul li { display:inline; float:left;padding:0 .2em 0 .2em;}
		#footmenu ul li a { color:#666;opacity: .7;text-decoration:none;font-size: 10px;}
		#footmenu ul li a:hover { opacity: .5; display:block; text-decoration:none;}
		#footmenu ul li a:active { color:#09c; display:block; text-decoration:none;}
	@media screen and (max-width: 960px) 
	{
  		.foot-wrapper{ width:80%;}
	}

/* All projects album category*/
	p1album {font-weight:100; color: #999; font-size: 10px; line-height:1.4;}

/* Best featured projects album */
	.jf-album					{font-family: 'Expletus Sans', Lucida Sans Unicode, sans-serif;float:left;width:960px; text-align: left; margin: 0px 0 20px 0;}
	.jf-album span				{width:100%; position:relative; float: left; font-weight:800; color: #ccc; font-size: 18px; line-height:2;}
	.jf-album li 				{float: left; background-color: #f2f2f2;  border-radius: 0px;position: relative; margin: 5px 0px 0px 0;}
	.jf-album li span 			{opacity:1;  width: 100%; float:left; padding: 0px 20px 22px 20px;color: #999; font-size: 12px; line-height: 1.4;}
	.jh-album li:last-child 	{margin: 20px 0px 0px 0;}
	/* overlay*/
	.jf-album li a 				{opacity:1; display: block; width:960px; height: 540px; border-radius: 0px; position:relative;overflow:hidden;}
	.jf-album li a:hover 		{opacity:.95;}
	.jf-album li a img 			{max-width:100%;display: block; overflow:hidden;}	
	/* thumb hover overlay text */
	.jf-album li a span 		{opacity:1; position: absolute; width: 100%; height: auto; bottom: 0px;background-color: #f2f2f2; 
								float:left; padding: 18px 20px 22px 20px;color: #999;font-weight:400; font-size: 16px; line-height: 1.4;}
	.jf-album li a:hover span 	{opacity: 1;color: #666;}
	@media screen and (max-width: 960px) 
	{
	  .jf-album					{width:100% ;}
	  .jf-album span			{width:100%; }
	  .jf-album li a 			{width:100%;height:auto;border-radius: 0px;}
	  .jf-album li a img 		{width:100%;}
	  .jf-album li a span 		{width: 100%; padding:10px 20px;font-size:18px; opacity: 1; display: none;}
	}

/* Featured projects album */
	.jh-album					{font-family: 'Expletus Sans', Lucida Sans Unicode, sans-serif;float:left;width:960px; text-align: left; margin: 0px 0 20px 0;}
	.jh-album span				{width:100%; position:relative; float: left; font-weight:800; color: #ccc; font-size: 18px; line-height:2;}
	.jh-album li 				{float: left; background-color: #f2f2f2; border-radius: 0px;position: relative;margin: 5px 5px 0px 0px;}
	.jh-album li:last-child 	{margin: 5px 0px 0px 0;}
	/* overlay*/
	.jh-album li a 				{opacity:1; display: block; width:316px; height: 442px;border-radius: 0px; position:relative;overflow:hidden;}
	.jh-album li a:hover 		{opacity:.95;}
	.jh-album li a img 			{max-width:240%;display: block; overflow:hidden;}	
	/* thumb hover overlay text */
	.jh-album li a span 		{opacity:1;position: absolute; width: 100%; height: auto; bottom: 0px;background-color: #f2f2f2; 
								float:left; padding: 18px 20px 22px 20px;color: #999;font-weight:400; font-size: 16px; line-height: 1.4;}
	.jh-album li a:hover span 	{opacity: 1;color: #666;}
	body		{font-size: 8px; line-height: 1.4;}
	@media screen and (max-width: 960px) 
	{
	  .jh-album					{width:100% ; }
	  .jh-album span			{width:100%;}
	  .jh-album li 				{margin: 5px 0px 0px 0px;}
	  .jh-album li a 			{width:100%;height:auto;border-radius: 0px;}
	  .jh-album li a img 		{width:100%;}
	  .jh-album li a span 		{padding:10px 20px;font-size:14px; opacity: 1; display: none;}
	  .jh-album li:last-child 	{margin: 5px 0px 0px 0;}
	}

/* All Projects Album for footer */
	.j-album					{font-family: 'Expletus Sans', Lucida Sans Unicode, sans-serif; float:left; width:960px; text-align: left;margin: 0px 0 20px 0;}
	.j-album span				{width:100%; position:relative; float: left; font-weight:800; color: #ccc; font-size: 18px; line-height:2;}
	.j-album li 				{float: left; background-color: #f2f2f2; border-radius: 0px;position: relative; margin: 5px 5px 0px 0px;}
	.j-album li:last-child 		{margin: 5px 0px 0px 0;}
	/* overlay*/
	.j-album li a 				{opacity:1; display: block; width:314px; height: 380px; border-radius: 0px;position:relative;overflow:hidden;}
	.j-album li a:hover 		{opacity:.95;}
	.j-album li a img 			{max-width:100%;display: block; overflow:hidden;}
	/* thumb hover overlay text */
	.j-album li a span 			{opacity:1; position: absolute; width: 100%; height: auto; bottom: 0px; background-color: #f2f2f2; 
								float:left; padding: 15px 20px 25px 20px;color: #999;font-weight:800; font-size: 14px; line-height: 1.4;}
	.j-album li a:hover span 	{opacity: 1; color: #666;}
	@media screen and (max-width: 960px) 
	{
	  .j-album					{width:100% ;}
	  .j-album span				{width:100%; }
	  .j-album li 	 			{width:32%;}
	  .j-album li a 			{width: 100%; max-height: 360px;}
	  .lb-album li a img 		{}
	  .j-album li a span 		{}
	}
	@media screen and (max-width: 640px) 
	{
	  .j-album					{width:100% ;}
	  .j-album li 	 			{width: 48%;}
	  .j-album li a 			{width: 100%; max-height: 360px;}
	  .lb-album li a img 		{}
	  .j-album li a span 		{}
	}



/* additional link style set */
		#link 			{width:100%;text-align: left; float: left;}
		#link span 		{font-size: 14pt;line-height:1.4; float:left; color:#666;}
		#link ul 		{list-style:none; float:left; width: 100%;}
		#link ul li 	{display:inline; float:left; padding-top: 10pt; padding-right: 20px;}
		#link ul li a 	{color:#09c; display:block; text-decoration:none;font-size: 14pt; line-height: 1.4;}
		#link ul li a:hover {opacity: .7; display:block; text-decoration:none;}
	@media screen and (max-width: 960px) 
	{
	  #link {max-width:700px; position:relative; margin-left: 0px;}
	}

/* go to top button */
	.scrollup {width: 60px; height: 60px; position: fixed; opacity: .2; bottom: 20px; right: 20px; z-index: 5000; display: none; text-indent: -9999px; background:url(../images/go_top.png) 0 0 no-repeat;}
	.scrollup:hover{opacity: 1;}

/* sticker for project title */
	div#sticker {font-family: 'Expletus Sans', Lucida Sans Unicode, sans-serif;float:left; width:240px; font-size: 24px; line-height: 1.2; font-weight: 800; margin-bottom: 20px; padding: 20px 0; background-color: #fff;  text-align: left; z-index: 100; border-bottom: rgba(200,200,200,0.2) 0px solid;}
	.stick {position:fixed;top:60px; font-size: 12px;}
	@media screen and (max-width: 960px) 
	{
		#sticker{width: 100%;display: none;}
	}

/* bread crumb */
	ul, li 			{list-style-type:none;font-size: 10px;}
	#crumbs 		{width:100%;float:left;margin: 20px 0 20px 0; padding-bottom: 20px; border-bottom: #f2f2f2 2px solid;  height:auto;}
	#crumbs li 		{float:left; color:#666;}
	#crumbs li a 	{display:block;padding:10px 40px 10px 2px;background:url(../images/breadcrumb_spacer.png) no-repeat right center;}
	#crumbs li a:link, #crumbs li a:visited {text-decoration:none;color:#666;}
	#crumbs li a:hover, #crumbs li a:focus {opacity:.7;}
	#crumbs li a.active{color: #09c; background: none;}
	#crumbs li a.first-child{background-image:url(../images/jaiki_logo.png) no-repeat right center;}
	@media screen and (max-width: 960px) 
		{
			#crumbs{}
		}

/* go down button */
	.go-down {bottom: -2px;height: 60px; width:200px;right: 0px; margin:0 10px 10px 0; padding: 10px; position: absolute; opacity: 1; border-radius: 50px;}
	.go-down a {float:right;background: url("../images/go_down.png") no-repeat right;display: block;height: auto;width: 60px;
	text-indent: -160000px;text-decoration: none;font-weight:500; color: #666; font-size: 14px; line-height:4;}
	.go-down a:hover {opacity: .7}
	@media screen and (max-width: 960px) 
		{
			.go-down{display: none;}
		}
	.bounce {animation-name: bounce;}
	a {text-decoration: underline;}


