@font-face {
  font-family: "Gold1";
  src: url('./Gold1-Regular.eot');
  src: url('./Gold1-Regular.eot') format('embedded-opentype'),
       url('./Gold1-Regular.woff2') format('woff2'),
       url('./Gold1-Regular.woff') format('woff'),
       url('./Gold1-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icGold1-"]:before,
[class*=" icGold1-"]:before {
  font-family: "Gold1";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0.1em;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  margin-left: 0.0em;
  /* you can be more comfortable with increased icons size */
  font-size: 120%;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icGold1-logo-jaiki:before {content: "\e000";}
.icGold1-logo-magictype:before {content: "\e001";}
.icGold1-logo-localsofmumbai:before {content: "\e002";}
.icGold1-icon-facebook:before {content: "\e100";}
.icGold1-icon-instagram:before {content: "\e101";}
.icGold1-icon-whatsapp:before {content: "\e102";}
.icGold1-icon-twitter:before {content: "\e103";}
.icGold1-icon-linkedin:before {content: "\e104";}
.icGold1-icon-dribbble:before {content: "\e105";}
.icGold1-icon-youtube:before {content: "\e106";}
.icGold1-icon-github:before {content: "\e107";}
.icGold1-icon-pinterest:before {content: "\e108";}
.icGold1-icon-behance:before {content: "\e109";}
.icGold1-icon-dropbox:before {content: "\e110";}
.icGold1-icon-globe-us:before {content: "\e111";}

.icGold1-download:before {content: "\e200";}
.icGold1-link-ext:before {content: "\e201";}
.icGold1-download2:before {content: "\e202";}

.icGold1-arrow-line-right:before {content: "\e300";}
.icGold1-arrow-line-left:before {content: "\e301";}
.icGold1-arrow-line-up:before {content: "\e302";}
.icGold1-arrow-line-down:before {content: "\e303";}

.icGold1-arrow-basic-right:before {content: "\e304";}
.icGold1-arrow-basic-left:before {content: "\e305";}
.icGold1-arrow-basic-up:before {content: "\e306";}
.icGold1-arrow-basic-down:before {content: "\e307";}

.icGold1-arrow-long-right:before {content: "\e308";}
.icGold1-arrow-long-left:before {content: "\e309";}
.icGold1-arrow-long-up:before {content: "\e310";}
.icGold1-arrow-long-down:before {content: "\e311";}

.icGold1-arrow-long2-right:before {content: "\e312";}
.icGold1-arrow-long2-left:before {content: "\e313";}
.icGold1-arrow-long2-up:before {content: "\e314";}
.icGold1-arrow-long2-down:before {content: "\e315";}


